[Match]
Name=eth0

[Network]
DHCP=ipv4
LinkLocalAddressing=no

[DHCPv4]
UseMTU=yes

# Define routes for this interface

[RoutingPolicyRule]
From=0.0.0.0/0
FirewallMark=0x100/0x00000300
Table=100

[Route]
Destination=10.0.0.0/8
Gateway=10.0.1.161
GatewayOnLink=yes
Metric=10
Table=100

[Route]
Destination=172.16.0.0/12
Gateway=10.0.1.161
GatewayOnLink=yes
Metric=10
Table=100

[Route]
Destination=192.168.0.0/16
Gateway=10.0.1.161
GatewayOnLink=yes
Metric=10
Table=100