[Match]
Name=eth2

[Network]
DHCP=ipv4
LinkLocalAddressing=no

[DHCPv4]
UseMTU=yes
UseRoutes=no
UseDNS=no

# Define local route policy for load balancer probe

[RoutingPolicyRule]
From=0.0.0.0/0
FirewallMark=0x2000/0x00003000
Table=2000

[Route]
Destination=168.63.129.16/32
Gateway=10.0.1.177
GatewayOnLink=yes
Metric=10
Table=2000

# Define routes for this interface

[RoutingPolicyRule]
From=0.0.0.0/0
FirewallMark=0x100/0x00000300
Table=100

[Route]
Destination=0.0.0.0/0
Gateway=10.0.1.177
GatewayOnLink=yes
Metric=10
Table=100